<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin panel</title>
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1 shadow">
    <span class="navbar-brand col-md-3" id="navBarAdmin"></span>
    <span class="navbar-text nav-item text-nowrap">
        <a href="/logout" class="text-light text-white-50 col-md-1" style="text-decoration: none;">Logout</a>
    </span>
</nav>

<div class="container-fluid h-100">
    <div class="row h-100">

        <div class="p-0 col-2">
            <div class="nav flex-column nav-pills pt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" href="/admin" role="tab" aria-controls="v-pills-home">Admin</a>
                <a class="nav-link" href="/user" role="tab" aria-controls="v-pills-user">User</a>
            </div>
        </div>

        <div class="p-0 col-10 bg-light">
            <div style="margin-top:-10px"></div>
            <div class="tabs p-4">
                <h1>Admin panel</h1>
                <div style="margin-top:17px"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="tabbable" id="tabs-629201">
                                <ul class="nav nav-tabs">

                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#usersTable">Users Table</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#addUser" data-toggle="tab">New user</a>
                                    </li>
                                </ul>

                                <div class="pt-2 tab-content">
                                    <div class="tab-pane fade show active" id="usersTable">
                                        <div style="margin-top:-9px"></div>
                                        <div class="p-3 border">
                                            <h5 class="my-0 mx-2">All users</h5>
                                        </div>
                                        <div class="p-3 bg-white border border-bottom-0">
                                            <table class="usersTable table table-striped bg-white">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Username</th>
                                                    <th scope="col">Role</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="allUsers">
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="margin-top:403px"></div>
                                    </div>

                                    <!-- ADD user panel -->
                                    <div class="tab-pane fade" id="addUser">
                                        <div style="margin-top:-9px"></div>
                                        <div class="p-3 border">
                                            <h5 class="my-0 mx-2">Add new User</h5>
                                        </div>

                                        <tbody>
                                        <tr>
                                            <div class="col-md bg-white border">
                                                <form align="center" class="offset-md-4 col-md-4 mt-4 mb-4"
                                                      th:align="center">

                                                    <label for="name3"><b>First Name</b></label>
                                                    <div style="margin-top:-9px"></div>
                                                    <input th:type="text" class="form-control" id="name3"
                                                           placeholder="First name" required/>

                                                    <div style="margin-top:13px"></div>

                                                    <label for="lastname3"><b>Last Name</b></label>
                                                    <div style="margin-top:-9px"></div>
                                                    <input th:type="text" class="form-control" id="lastname3"
                                                           placeholder="Last name" required/>

                                                    <div style="margin-top:13px"></div>

                                                    <label for="username3"><b>Username</b></label>
                                                    <div style="margin-top:-9px"></div>
                                                    <input th:type="text" class="form-control" id="username3"
                                                           placeholder="Username" required/>

                                                    <div style="margin-top:13px"></div>

                                                    <label for="password3"><b>Password</b></label>
                                                    <div style="margin-top:-9px"></div>
                                                    <input th:type="password" class="form-control" id="password3"
                                                           placeholder="Password" required/>

                                                    <div style="margin-top:13px"></div>

                                                    <label for="roles3"><b>Role</b></label>
                                                    <div style="margin-top:-9px"></div>
                                                    <select multiple class="form-control form-control-sm" id="roles3"
                                                            size="2" required>
                                                        <option selected="selected" value="ROLE_ADMIN">ADMIN</option>
                                                        <option selected="selected" value="ROLE_USER">USER</option>
                                                    </select>
                                                    <button type="submit"
                                                            class="btn btn-success mt-3 d-block mx-auto btn-lg"
                                                            value="Add new user"
                                                            id="add">
                                                        Add new user
                                                    </button>
                                                </form>
                                            </div>
                                        </tr>
                                        <div style="margin-top:-318px"></div>
                                        </tbody>
                                    </div>
                                </div>

                                <div style="margin-top:340px"></div>

                                <!-- modal window EDIT -->
                                <div class="modal fade" id="modalEdit" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <form>
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel7">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="id0"><b>ID</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <input th:type="text" class="form-control" id="id0"
                                                               th:name="id" readonly/>
                                                    </div>

                                                    <div style="margin-top:13px"></div>

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="name0"><b>First name</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <input type="text" class="form-control" id="name0"
                                                               th:name="firstName"/>
                                                    </div>

                                                    <div style="margin-top:13px"></div>

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="lastName0"><b>Last name</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <input type="text" class="form-control" id="lastName0"
                                                               th:name="lastName"/>
                                                    </div>

                                                    <div style="margin-top:13px"></div>

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="username0"><b>Username</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <input type="text" class="form-control" id="username0"
                                                               th:name="username"/>
                                                    </div>

                                                    <div style="margin-top:13px"></div>

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="password0"><b>Password</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <input type="password" class="form-control" id="password0"
                                                               th:name="password"/>
                                                    </div>

                                                    <div style="margin-top:13px"></div>

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="roles0" class="pt-md-2"><b>Role</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <select name="roles[]"
                                                                class="form-control"
                                                                multiple size="2"
                                                                id="roles0" required>
                                                            <option value="ROLE_ADMIN">ADMIN</option>
                                                            <option value="ROLE_USER">USER</option>
                                                        </select>
                                                    </div>

                                                    <div style="margin-top:13px"></div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                                <!-- modal window DELETE -->
                                <div class="modal fade"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                     id="modalDelete">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                <button type="button" class="close"
                                                        data-dismiss="modal">×
                                                </button>
                                            </div>
                                            <form>
                                                <div class="modal-body">

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="id2"><b>ID</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <input th:type="text" class="form-control" id="id2"
                                                               th:name="id" disabled/>
                                                    </div>

                                                    <div style="margin-top:13px"></div>

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="name2"><b>First name</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <input type="text" class="form-control" id="name2"
                                                               th:name="firstName" disabled/>
                                                    </div>

                                                    <div style="margin-top:13px"></div>

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="lastName2"><b>Last name</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <input type="text" class="form-control" id="lastName2"
                                                               th:name="lastName" disabled/>
                                                    </div>

                                                    <div style="margin-top:13px"></div>

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="username2"><b>Username</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <input type="text" class="form-control" id="username2"
                                                               th:name="username" disabled/>
                                                    </div>

                                                    <div style="margin-top:13px"></div>

                                                    <div class="mb-3 text-center orm-group m-auto col-md-6">
                                                        <label for="roles2"><b>Role</b></label>
                                                        <div style="margin-top:-9px"></div>
                                                        <select name="roles[]"
                                                                class="form-control"
                                                                id="roles2" multiple size="2" disabled>
                                                            <option value="ROLE_ADMIN">ADMIN</option>
                                                            <option value="ROLE_USER">USER</option>
                                                        </select>
                                                    </div>

                                                    <div style="margin-top:34px"></div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

<script src="/admin.js"></script>

</body>
</html>