<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>


<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="login">Username:</label>
    <input type="text" th:field="*{username}" id="login">
    <br/>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <label for="firstName">Name:</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <br/>
    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>

    <label>
        <input required="required" type="checkbox" name="listRoles" value="ROLE_USER"/>
    </label> USER
    <label>
        <input type="checkbox" name="listRoles" value="ROLE_ADMIN"/>
    </label> ADMIN
    <p>
        <input type="submit" value="Add user!">
        <br/>
        <br/>
        <a href="/logout">Logout</a>
</form>

</body>
</html>